body,
ul,
h1,
h2,
li,
p,
dt,
dd,
dl,
nav {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    display: block;
    max-width: 100%; /* img responsiva */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html.aumentarTexto {
    /* é bem diferente estar junto ou separado */
    font-size: 150%;
}

body {
    background-color: #faf6ed;
    color: #222;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu {
    grid-column: 3/5;
    margin: 2rem 0 2rem 0;
    background-color: #ffbb55;
}

.menu li a {
    color: #222;
    display: block;
    padding: 10px;
    margin-right: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
}

.grid-section {
    grid-column: 2/4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    gap: 20px;
    margin-bottom: 4rem;
}

.titulo {
    font-family: 'Playfair Display SC', georgia;
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 1rem;
    grid-column: 1/4;
    font-weight: 400;
}

#animais h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    color: #e54;
}

#animais h2::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    background-color: #ffbb55;
    margin-right: 10px;
}

#animais p {
    font-family: Helvetica, Arial;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.descricao {
    grid-column: 3;
}

.descricao section {
    margin-bottom: 3rem;
}

.js .descricao section {
    display: none;
}

.descricao section.active {
    display: block;
    animation: show 0.5s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animais-lista {
    grid-column: 2/3;
    height: 370px;
    overflow-y: scroll;
}

.animais-lista::-webkit-scrollbar {
    /* scroll geral */
    margin-left: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
    /* o cursor em específico */
    background-color: #ffbb55;
    border-right: 4px solid #faf6ed;
    border-left: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
    /* a parte branca do scroll, só pra garantir */
    background-color: #faf6ed;
}

.animais-lista li {
    cursor: pointer;
}

.faq h2 {
    grid-column: 1/3;
    font-family: 'Playfair Display SC', georgia;
    font-size: 6rem;
}

.faq-lista {
    grid-column: 2/4;
}

.faq-lista dd {
    font-family: Helvetica, Arial;
    margin-bottom: 0.5rem;
    margin-left: 30px;
}

dt {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    color: #e54;
    font-family: 'IBM Plex Mono', monospace;
}

.faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    background-color: #ffbb55;
    margin-right: 10px;
}

.js .js-accordion dd {
    display: none;
}

.js-accordion dd.active {
    display: block;
    animation: slowDow 0.5s forwards;
}

@keyframes slowDow {
    from {
        opacity: 0;
        max-height: 0;
    }

    to {
        opacity: 1;
        max-height: 200px;
    }
}

.js-accordion dt::after {
    content: '⬎';
    margin-left: 10px;
}

.js-accordion dt.active::after {
    content: '⬏';
    margin-left: 10px;
}

.mapa {
    grid-column: 2;
}

.contato h1 {
    grid-column: 1/5;
    font-size: 6rem;
    font-family: 'Playfair Display SC', georgia;
}

.contato li {
    margin-bottom: 1rem;
    font-weight: 400 italic;
    font-family: Helvetica, Arial;
}

.contato li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    background-color: #ffbb55;
    margin-right: 10px;
}

.copy {
    grid-column: 3/5;
    margin-bottom: 2rem;
    background-color: #ffbb55;
}

.copy p {
    font-family: 'IBM Plex Mono', monospace;
    padding: 20px;
}

@media screen and (max-width: 730px) {
    body {
        grid-template-columns: 1fr;
    }

    .grid-section,
    .menu,
    .copy {
        grid-column: 1;
    }

    .menu {
        margin-top: 0;
    }

    .titulo {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .grid-section {
        grid-template-columns: 100px 1fr;
        gap: 10px;
    }

    .animais-lista {
        grid-column: 1;
    }

    .descricao {
        grid-column: 2;
    }

    .faq h2 {
        font-size: 2.5rem;
    }

    .contato h1 {
        font-size: 2.5rem;
    }
    .faq-lista,
    .mapa,
    .contato ul {
        grid-column: 1/3;
    }
    .copy {
        margin-bottom: 0;
    }
}
